/* * {
  user-select: none;
} */

th,
td {
  border: 1px solid #b5afaf;
}

.container {
  transition: 2s;
}


.preloader {
  width: 350px;
  height: 350px;
  position: absolute;
  top: 40%;
  left: 40%;
  border-radius: 200px;
}

.preloader_progress {
  width: 350px;
  height: 350px;
  background-color: rebeccapurple;
  position: absolute;
  top: 40%;
  left: 40%;
  border-radius: 200px;
  animation: moving 2s infinite linear;
}

@keyframes moving {
  50% {
    transform: scale(0.5, 0.5);
  }

  100% {
    transform: scale(1, 1);
  }
}

.preloader_successfully {
  position: absolute;
  top: 50%;
  left: 44%;
  display: inline-block;
  width: 5%;
  height: 8%;
  border: solid rgb(105, 179, 52);
  border-width: 0 25px 25px 0;
  transform: rotate(45deg);
  pointer-events: none;
  transition: 1.5s;
}

.preloader_ERROR {
  position: absolute;
  top: 50%;
  left: 42.5%;
  display: inline-block;
  width: 10%;
  height: 20%;
  border-width: 0 25px 25px 0;
  background-color: red;
  clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
  transition: 1.5s;
}

.plug {
  width: 30%;
  height: 20%;
  left: 35%;
  top: 10%;
  background-color: rebeccapurple;
  position: absolute;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dragSlider {
  width: 25px;
  height: 25px;
  background-color: #000;
  position: absolute;
  left: 0px;
}

.siz {
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  opacity: 0;
  transition: 1.5s;
}

th,
td {
  position: relative;
}

.siz:hover {
  opacity: 1;
  transition: 1.5s;
}

.button-items{
  position: absolute;
  bottom: 25px;
  left: 45%;
}